@import url("colors.css");

/* reference section */
.bg-reference {
    background-image: url(../reference/1-720px.png);
    height: 500px;
    width: 720px;
}

.bg-inverse {
    filter: invert(100%);
}


body,
html {
    padding: 0;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.wrapper {
    max-width: 720px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, auto);
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 56px);
    gap: 4px;
}

.spacer-top {
    margin-top: 40px;
}

/* .spacer-left {} */

.logo {
    grid-column: 2 / 4;
    /* grid-row: 10 / 12; */
}

/* .header {} */
