@import url("colors.css");

/* reference section */
.bg-reference {
    background-image: url(../reference/1-720px.png);
    height: 500px;
    width: 720px;
}

.bg-inverse {
    filter: invert(100%);
}


body,
html {
    padding: 0;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.wrapper {
    max-width: 720px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:
        52px [logo] 12px [img-1-s] 42px [img-2-s] 28px [title-s]
        56px [title-e img-1-e] 16px [subtitle-s] 24px [subtitle-e] 14px [img-3-s]
        32px [btn-baseline] 56px [img-2-e] 48px [img-3-e] 56px [trusted-s]
        42px [trusted-e];
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 56px);
    column-gap: 4px;
}

.logo {
    align-self: flex-end;
    grid-column: 2 / 4;
    line-height: 24px;
}

.icon-logo {
    vertical-align: middle;
}

.blue {
    color: var(--blue);
}

.title {
    grid-row: title-s / title-e;
}

.img-1 {
    grid-row: img-1-s / img-1-e;
}

.img-2 {
    grid-row: img-2-s / img-2-e;
}
